<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>

    <style>
        .content {
            width: 800px;
            height: 600px;
            border: 1px solid;
            margin: auto;
        }

        .row-content {
            height: 100%;
        }

        .content-left {
            height: 100%;
        }

        .image-content {
            width: 100%;
            height: 100%;
        }

        .content-right-user {
            height: 100px;
        }

        .content-right-comments {
            height: 400px;
        }
    </style>

    <title>Admin</title>
</head>

<% include ../layouts/header %>

<body>

    <div class="container" style="margin-top: 50px">
        
        <!-- CONTENT -->
        <div class="content">
            <div class="row row-content">
                <!-- LEFT -->
                <div class="col-md-8" style="border-right: 1px solid; padding: 0px">
                    <div class="content-left">
                        <img class="image-content" src="../../../<%= image.imagePath %>" alt="">
                    </div>
                </div>
                <!-- END LEFT -->

                <!-- RIGHT -->
                <div class="col-md-4">
                    <div class="content-right">
                        <div class="content-right-user">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col-md-3" >
                                    <img class="user-avatar" src="../../../img/icon/user.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <p class="user-username"><%= image.user%></p>
                                    <span>Location</span>
                                </div>
                            </div>
                        </div>

                        <div class="content-right-comments">
                            Comments...
                        </div>

                        <div class="content-right-add-comment">
                            <input type="text" placeholder="Bình luận">
                            <input class="btn btn-info" type="button" value="Gửi">
                        </div>
                    </div>
                </div>
                <!-- END RIGHT -->
            </div>
        </div>
        <!-- END CONTETN -->

        <!-- UPDATE IMAGE -->
        <% if (user) { %>
            <% if (user.username === image.user || user.isAdmin) { %>
                <form method="POST" action="/image/<%= image.id %>?_method=PUT">
                    <input type="file" name="imagePath" value="<%= image.imagePath %>">
                    <input type="text" name="status" value="<%= image.status %>" placeholder="Trạng thái">
                    <input type="text" name="location" value="<%= image.location %>" placeholder="Vị trí">
        
                    <button type="submit" class="btn btn-info">Thay đổi</button>
                </form>
            <% } %>
        <% } %>
        
    
    </div>

</body>

</html>