<h1>View item</h1>

<ul>
    <% items.forEach(function(item){ %>
        <li>
            <a href="/item/<%= item.id %>">Xem</a>
            <a href="">Sửa</a>
            <form method="POST" action="/item/<%= item.id %>?_method=DELETE">
                <button type="submit">Xóa</button>
            </form>

            <h3>Name: <%= item.name %></h3>
            <p>Id: <%= item.id %></p>
            <p>Description: <%= item.description %></p>
            <p>Price: <%= item.price %></p>
        </li>
    <% }) %>
</ul>