<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/link %>
    <title>Admin</title>
</head>

<% include ../layouts/header %>

<body>
    <div class="container mt-4">
        <h1>View images</h1>

        <!-- List item -->
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <!-- <th>Date</th> -->
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user){ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.password %></td>
                    <!-- <td><%= user.date %></td> -->
                    
                    <td>
                        <!-- Button to show POPUP -->
                        <button type="button" class="btn" data-toggle="modal" data-target="#popup-confirm-delete">
                            <img id="icon-trash" src="../../img/icon/trash.svg" alt="Xóa" title="Xóa">
                        </button>
                        <!-- POPUP -->
                        <!-- Lỗi không xóa được đúng cái chọn
                        Nếu xóa class đi thì hết lỗi -->
                        <div class="modal fade" id="popup-confirm-delete">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Thông báo</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="bg-danger text-white">Lỗi: Không xóa đúng được id cần xóa</p>
                                        Đồng ý xóa: <strong><%= user.id %></strong>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy
                                            bỏ</button>
                                        <!-- METHOD DELETE -->
                                        <form method="POST" action="/admin/view/user/<%= user.id %>?_method=DELETE">
                                            <button type="submit" class="btn btn-info">Xác nhận</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End POPUP -->
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <!-- End list item -->
    </div>

</body>

</html>